 body
  {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }

  a {
    //font-size: 14px;
    //font-size: 14px;
    //font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    //display: inline-block;
    //margin-bottom: -100px;
    //margin-right: 60px;
    //margin-left: 0px;
    color: #355c7d;
    //width: calc(50% + 50px);
  }

  .main-content img
  {
    max-width: 100%;
    z-index: -1;
    position: relative;
    display: block;
    margin: 0;
  }

  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    text-shadow: 0 0 3px #fff;
    color: #6D5B7B;
  }

  /*

  @media screen and (min-width: 40em) {
    .main-content {
      float: left;
      padding: 4vw 4vw;
      margin: 0 auto;
      font-size: 1.1rem;
      width: 80vw;
    }
  }

  @media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
      padding: 2rem 4rem;
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 42em) {
    .main-content {
      padding: 2rem 1rem;
      font-size: 1rem;
    }
  }
  */

  .jalan {
    background: url('../images/jalan.png');
    position: relative;

  }

  .jalan:hover {
    z-index: 2;

  }

  .maxwell {
    background: url('../images/maxwell.png');
    position: relative;

  }

  .maxwell:hover{
    z-index: 2;
  }

  .carly {
    background: url('../images/carly.png');
    position: relative;

  }

  .carly:hover {
    z-index: 2;
  }

  .nathan {
    background: url('../images/nathan.png');
    position: relative;

  }

  .nathan:hover {
    z-index: 2;
  }

  .basil {
    background: url('../images/basil.png');
    position: relative;
  }

  .basil:hover {
    z-index: 2;
  }

  .jalen {
    background: url('../images/jalen.png');
    position: relative;
  }

  .jalen:hover {
    z-index: 2;
  }

  .ruby {
    background: url('../images/ruby.png');
    position: relative;
  }

  .ruby:hover {
    z-index: 2;
  }

  .elora {
    background: url('../images/elora.png');
    position: relative;
  }

  .elora:hover {
    z-index: 2;
  }

  .nancy {
    background: url('../images/nancy.png');
    position: relative;
  }

  .nancy:hover {
    z-index: 2;
  }

  .alexis {
    background: url('../images/alexis.png');
    position: relative;
  }

  .alexis:hover {
    z-index: 2;
  }

  .susannah {
    background: url('../images/susannah.png');
    position: relative;
  }

  .susannah:hover {
    z-index: 2;
  }

  .square {
    width: 10vw;
    height:10vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 1em;
    //margin-bottom: 50%;
    //margin-left: 40px;
    //margin-right: 40px;
    float: left;
  }

  .square:hover {
    background-position: center center;
    background-repeat: no-repeat;
  }

  .square figure
  {
      display: block;
  //margin-top: 1em;
  //margin-bottom: 1em;
  //margin-left: 40px;
  //margin-right: 40px;

  }

  .square figcaption
  {
      text-align: center;
      font-size: 14px;
  }

  .row
  {
    //max-width: 60%;

      margin-bottom: 5em;
      padding: 2em;
      clear: left;
  }

  .main-content
  {
    width: 70vw;
    float: left;

  }
  .logo
  {
      float: left;
  }

  .logo img
  {
    width: 20vw;
    padding: 2em;

  }
